body {
    background-color: black;
    background-image: url('https://i.imgur.com/RyLsAqe.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 3px black;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}